#Container{
    align-content:  center;
    background-color: aqua;
    padding: 50px 50px 50px;
}
#btn{
    color:blue;
}
#output{
    color:red;
}

.container1{
    padding:20px 20px 20px;
    background-color: bisque;
}
#btn2{
    color:red;
}
#output1{
    color:blue;
}