.container {
    background-color: aqua;
    font-style: italic;
}
#test {
    background-color:blanchedalmond;
    font-style: normal;
}
#colour {
    background-color: brown;
    color:blue;
}